services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      # Please configure your external database connection here
      - DB_HOST=host
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=name
      - API_KEY=your_secure_api_key
    restart: always
